#p1_fieldset{
    background-color:#ff6e6e;
    text-align:center;
    height:50%;
    padding-top:50px;
}
#p2_fieldset{
    background-color:#6ed9ff;
    text-align:center;
    height:50%;
    padding-top:50px;
}


input{
    width:45%;
    height:40px;
    appearance: none;
    -moz-appearance: none; 
    -webkit-appearance: none;
}
body{
    max-width:400px;
    max-height:300px;
}
#p1_life{
transform: scale(-1, -1);
}

#p1_life, #p2_life{
    font-size:40px;
    color:white;
    text-shadow:1px 1px 5px black;
}

